html {
  width: 100%;
  height: 100%;
}

.top-text {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.what-is-math-machine {
  text-align: center;
}

.c-i-c {
  text-align: center;
}

.c-m-m-d-d-m {
  text-align: center;
}
